footer{
  display: none;
}

@media (orientation:landscape) and (min-width: 576px){

  footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    background: $contrast-color-gradient;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    z-index: 99;
  }

  footer p{
    padding: 0 50px;
  }
}