#mobile-nav{
  background: $contrast-color-gradient;
  box-shadow: 0 -5px 10px $dark-primary-color;
  justify-content: center;

  & .nav-menu{
    width: 100%;
  }

  & .dropdown-menu{
    left: -120%;
  }

  & .dropdown-toggle::after{
    display: none;
  }
}

#desktop-nav {
  background: $primary-gradient;
  box-shadow: 0 5px 10px $dark-primary-color;
}

#desktop-front-menu{
  justify-content: flex-end;
  margin-right: 5%;
}

.nav-link{
  color: white;
}

@media (orientation:landscape) and (min-width: 576px) {

}