@import "trick_grid";

#home-header{
  height: calc(100vh - #{$mobile-nav-height});
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-image: url("/media/home-header.jpg");
  background-size: cover;
  background-position: bottom;

  &>h1{
    color: $secondary;
    @include transform(rotate(-8deg));
    font-size: 3rem;
    margin: 20% 0 0 5%;
    text-shadow: 2px 2px black;
  }

  & h1>p{
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 6%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom: 6px solid white;
    box-shadow: 0 2px black;
  }

  & .scroll-arrow{
    align-self: center;
    justify-self: end;
  }
}

.scroll-arrow>a{
  color: $secondary;
  font-size: 2rem;
  padding: 10px;
  margin: 0 10px 0 10px;
}

.scroll-arrow>a>i{
  border-radius:50%;
}

#section-trick .scroll-arrow{
  float: right;
}

@media (orientation:landscape) and (min-width: 576px){

  #home-header{
    height: calc(100vh - #{$desktop-nav-height});

    &>h1{
      margin-top: 10%;
    }
  }

  .scroll-arrow>a{
    font-size: 3rem;
    margin: 0 30px 0 30px;
  }
}