#section-trick{
  margin: 50px 0;

  &>h3{
    margin: 0 auto 30px auto;
    text-align: center;
    color: $secondary;
    text-shadow: 1px 1px $dark-primary-color;
  }

  & #list-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.6rem;

    & > form {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;

      & > select, & > button{
        margin: 0 10px;
      }

      & > select{
        max-width: 150px;
      }
    }

  }

}

#trick-list{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 20px;

  & .block-edit{
    width: 100%;
  }

  & .card{
    max-height: 300px;
  }
}

.card-img-top{
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-body{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-sans-serif;
  color: $primary;
}

.trick-name>a{
  color: inherit;
}

.trick-text{
  display: flex;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: space-between;
  padding: 8px 15px;
}

.trick-text a{
  text-decoration: none;
  color: $primary;
}

.load-btn{
  margin-top: 50px;
}

#new-trick{
  display: block;
  width: 120px;
  margin: 0 auto 30px auto;
}

@media (orientation:landscape) and (min-width: 576px) {
  #section-trick>h3{
    margin-bottom: 50px;
  }

  #section-trick{
    position: relative;
  }

  #new-trick{
    position: absolute;
    top: 0;
    left: 10%;
    margin: 0;
  }
}