#section-trick{
  margin: 50px 0;

  &>h3{
    margin: 0 auto 30px auto;
    text-align: center;
    color: $secondary;
    text-shadow: 1px 1px $dark-primary-color;
  }
}

#trick-list{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 20px;
}

.card-img-top{
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-sans-serif;
  color: $primary;

  & a{
    color: inherit;
  }
}

.trick-text{
  display: flex;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: space-between;
  padding: 8px 15px;
}

.trick-text a{
  text-decoration: none;
  color: $primary;
}

.trick-icons{
  margin-left: 10px;
}

.load-btn{
  margin-top: 50px;
}

@media (orientation:landscape) and (min-width: 576px) {
  #section-trick>h3{
    margin-bottom: 50px;
  }
}