.jxp-group-btn{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .btn{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.jxp-clickable{
  box-shadow: 5px 5px 5px $dark-primary-color;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
}

.jxp-clickable:active{
  box-shadow: 2px 2px 2px $dark-primary-color;
}

@media (orientation:landscape) and (min-width: 576px) {
  .jxp-clickable{
    box-shadow: 2px 2px 2px $dark-primary-color;
  }

  .jxp-clickable:hover{
    box-shadow: 5px 5px 5px $dark-primary-color;
  }

  .jxp-clickable:active{
    box-shadow: 2px 2px 2px $dark-primary-color;
  }

  .jxp-group-btn{
    display: flex;
    flex-direction: row;

    & .btn{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}