.jxp-admin-table{
  width: 100%;
  border-collapse: collapse;

  & th, & td{
    padding: 10px;
    text-align: center;
  }

  & td{
    border-top: 1px solid $dark-primary-color;
    border-bottom: 1px solid $dark-primary-color;
  }

  & tr:hover{
    background-color: $primary-color;
    color: white;
  }
}

.jxp-table-pagination{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto;
  grid-template-areas:
          "limit limit limit"
          "page-block page-block page-block";
  place-items: center;
}

.jxp-pagination-limit{
  @extend .jxp-form-input;
  grid-area: limit;
}

.jxp-pagination-pages{
  grid-area: page-block;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>i{
    @extend .jxp-clickable;
    color: $contrast-color;
    font-size: 2rem;
    margin: 0 10px;
  }
}

@media (orientation:landscape) and (min-width: 576px){

  .jxp-table-pagination{
    grid-template-areas: "limit page-block .";
  }
}