{% extends 'base.html.twig' %}

{% block body %}

    <!--Desktop nav-->
    <nav id="desktop-nav" class="admin-nav">
        <div id="nav-logo">SNOWTRICKS</div>
        <ul class="nav-menu">
            <li class="menu-item"><a href="/admin/tricks">Tricks</a></li>
            <li class="menu-item"><a href="/admin/users">Users</a></li>
            {% include '_connected_desktop.html.twig' %}

        </ul>
    </nav>
    <!--end Desktop nav-->

    <!--Mobile nav-->
    <nav id="mobile-nav" class="hidden admin-nav">
        <ul class="nav-menu">
            <li class="menu-item"><a href="/"><i class="fas fa-users"></i></a></li>
            <li class="menu-item"><a href="/#tricks"><i class="fas fa-snowboarding"></i></a></li>
            {% include '_connected_mobile.html.twig' %}
        </ul>
    </nav>
    <!--end Mobile nav-->

    {% include '_connected_submenu.html.twig' %}

    <div id="main-wrapper">

        {% block mainContent %}{% endblock %}

    </div>

    <footer>
        <p><a href="/">Retour au site</a></p>
    </footer>

{% endblock %}

{% block footerScripts %}

    {{ parent() }}

    {# Encore JS #}
    {{ encore_entry_script_tags('admin') }}

{% endblock %}