<div id="admin-trick-list">
    <form>
        <table>
            <thead>
            <tr>
                <th>Trick Name</th>
                <th>Trick Group</th>
                <th>Author</th>
                <th>Date Added</th>
                <th>Date Modified</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Ollie</td>
                <td>Straight Airs</td>
                <td>Greg</td>
                <td>08/03/2020</td>
                <td>08/03/2020</td>
                <td>Online</td>
                <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>