{% extends 'admin/layout.html.twig' %}

{% block title %}Admin Tricks{% endblock %}

{% block mainContent %}
    <div id="admin-trick-list" class="admin-content">
        <h1>List of tricks</h1>
        <form>
            <table class="jxp-admin-table">
                <thead>
                <tr>
                    <th>Trick Name</th>
                    <th>Trick Group</th>
                    <th>Author</th>
                    <th>Date Added</th>
                    <th>Date Modified</th>
                    <th>Status</th>
                    <th>Toggle Status</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="/tricks/ollie">Ollie</a></td>
                    <td>Straight Airs</td>
                    <td>Greg</td>
                    <td>08/03/2020</td>
                    <td>08/03/2020</td>
                    <td>Online</td>
                    <td>
                        <label class="jxp-admin-toggle">
                            <input id="publish-ollie" type="checkbox" data-slug="ollie">
                            <span class="jxp-toggle-slider"></span>
                        </label>
                    </td>
                    <td class="remove-icon"><a href="/admin/remove-ollie"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                    <td><a href="/tricks/ollie">Ollie</a></td>
                    <td>Straight Airs</td>
                    <td>Greg</td>
                    <td>08/03/2020</td>
                    <td>08/03/2020</td>
                    <td>Online</td>
                    <td>
                        <label class="jxp-admin-toggle">
                            <input id="publish-ollie" type="checkbox" data-slug="ollie">
                            <span class="jxp-toggle-slider"></span>
                        </label>
                    </td>
                    <td class="remove-icon"><a href="/admin/remove-ollie"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                    <td><a href="/tricks/ollie">Ollie</a></td>
                    <td>Straight Airs</td>
                    <td>Greg</td>
                    <td>08/03/2020</td>
                    <td>08/03/2020</td>
                    <td>Online</td>
                    <td>
                        <label class="jxp-admin-toggle">
                            <input id="publish-ollie" type="checkbox" data-slug="ollie">
                            <span class="jxp-toggle-slider"></span>
                        </label>
                    </td>
                    <td class="remove-icon"><a href="/admin/remove-ollie"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                    <td><a href="/tricks/ollie">Ollie</a></td>
                    <td>Straight Airs</td>
                    <td>Greg</td>
                    <td>08/03/2020</td>
                    <td>08/03/2020</td>
                    <td>Online</td>
                    <td>
                        <label class="jxp-admin-toggle">
                            <input id="publish-ollie" type="checkbox" data-slug="ollie">
                            <span class="jxp-toggle-slider"></span>
                        </label>
                    </td>
                    <td class="remove-icon"><a href="/admin/remove-ollie"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                <tr>
                    <td><a href="/tricks/ollie">Ollie</a></td>
                    <td>Straight Airs</td>
                    <td>Greg</td>
                    <td>08/03/2020</td>
                    <td>08/03/2020</td>
                    <td>Online</td>
                    <td>
                        <label class="jxp-admin-toggle">
                            <input id="publish-ollie" type="checkbox" data-slug="ollie">
                            <span class="jxp-toggle-slider"></span>
                        </label>
                    </td>
                    <td class="remove-icon"><a href="/admin/remove-ollie"><i class="far fa-trash-alt"></i></a></td>
                </tr>
                </tbody>
            </table>
        </form>

        <div class="jxp-table-pagination">
            <select id="limit" class="jxp-pagination-limit">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <div class="jxp-pagination-pages">
                <i class="fas fa-chevron-circle-left"></i>
                <p>Page 1 / 1</p>
                <i class="fas fa-chevron-circle-right"></i>
            </div>
        </div>

    </div>
{% endblock %}