#comment-form{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &>textarea{
    width: 100%;
    margin-bottom: 20px;
    height: 120px;
  }

  &>button{
    max-height: 40px;
    margin: 0 auto;
  }
}

.comment-group {
  margin: 10% 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  &>.avatar-container{
    min-width: 60px;
  }

  & .jxp-avatar-thumbnail{
    width: 50px;
    height: 50px;
  }

  &>.comment-content{
    width:80%;
    max-width: calc(100% - 60px);
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: white;
    padding: 10px;
  }
}

@media (orientation:landscape) and (min-width: 576px){

  #comment-form{
    justify-content: space-between;
    align-items: center;
    width: 60%;

    &>textarea{
      width: 70%;
      margin-bottom: 0;
      margin-right: 20px;
    }

    &>button{
      margin: 0 0 0 auto;
    }
  }

  .comment-group {
    margin: 5% 0;
  }
}