#trick-tags{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & p{
    margin: 40px 10px 0 10px;
  }

  & a, & p{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: $primary;
    border-radius: 5px;
  }
}