#trick-medias{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#media-slider-element{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  color: $secondary;
  margin-bottom: 50px;
}

.media-slider-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;

  &>i{
    @extend .jxp-clickable;

    border-radius: 50%;
  }
}

#slider-left-arrow {
  margin: 0 15px 0 0;
}

#slider-right-arrow {
  margin: 0 0 0 15px;
}

#media-slider-bar{
  width: 100%;
  margin-top: 20px;
  padding: 5px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#media-slider-toggle{
  text-align: center;

  &>a{
    color: white;
  }
}

.media-slider-thumbnail{
  @extend .jxp-clickable;

  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 1% 2%;
  border-radius: 5px;
  transition: margin-left 0.5s ease-out, box-shadow 0.15s ease-out;

  &>img, &>iframe, &>video{
    width: inherit;
    height: 166px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.carousel-item {
  text-align: center;

  & iframe{
    max-width: 100%;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 30px;
  height: 30px;
  filter: invert(45%) sepia(91%) saturate(3362%) hue-rotate(15deg) brightness(92%) contrast(93%);
}

.carousel-control-prev-icon{
  background-image: url("/icons/chevron-left-solid.svg");
}

.carousel-control-next-icon{
  background-image: url("/icons/chevron-right-solid.svg");
}

#current-media>#thumbnailMedia, #current-media iframe{
  display: block;
  margin: auto;
  width: 250px;
  height:166px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px $dark-primary-color;
}

#thumbnailMedia{
  object-fit: cover;
}

@include media-breakpoint-up(lg) {

  #media-slider-element{
    margin-bottom: 0;
  }

  #media-slider-toggle{
    margin-top: 20px;
  }

  #carouselTrickMedia{
    width: 150% !important;
    left: -25% !important;
  }

  #add-media{
    margin: 1.3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &>a{
      margin: 0 auto;
    }
  }

  .media-slider-thumbnail{
    width: 120px;

    &>img, &>iframe, &>video{
      height: 90px;
    }
  }

  .media-slider-arrow{
    font-size: 2rem;
  }

  #current-media>#thumbnailMedia, #current-media iframe{
    width: 120px;
    height:90px;
  }

}