#trick-medias{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#media-slider-element{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  color: $secondary;
  margin-bottom: 15%;
}

.media-slider-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  &>i{
    @extend .jxp-clickable;

    border-radius: 50%;
  }
}

#slider-left-arrow {
  margin: 0 15px 0 0;
}

#slider-right-arrow {
  margin: 0 0 0 15px;
}

#media-slider-bar{
  width: 100%;
  margin-top: 20px;
  padding: 5px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#media-slider-toggle{
  text-align: center;

  &>a{
    color: white;
  }
}

.media-slider-thumbnail{
  @extend .jxp-clickable;

  display: flex;
  flex-direction: column;
  width: 120px;
  margin: 1% 2%;
  border-radius: 5px;
  transition: margin-left 0.5s ease-out, box-shadow 0.15s ease-out;

  &>img, &>iframe, &>video{
    width: inherit;
    height: 90px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  width: 30px;
  height: 30px;
  filter: invert(45%) sepia(91%) saturate(3362%) hue-rotate(15deg) brightness(92%) contrast(93%);
}

.carousel-control-prev-icon{
  background-image: url("/icons/chevron-left-solid.svg");
}

.carousel-control-next-icon{
  background-image: url("/icons/chevron-right-solid.svg");
}

#add-media{
  width: 100%;
  display: flex;
  margin-bottom:1.3rem;
  justify-content: center;

  &>a{
    margin: 0 auto;
  }
}

#current-media{

  &>img, &>video{
    display: block;
    margin: auto;
    width: 120px;
    height:90px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px $dark-primary-color;
  }
}

@media (orientation:landscape) and (min-width: 576px) {

  #media-slider-element{
    margin-bottom: 0;
  }

  #media-slider-toggle{
    margin-top: 20px;
  }

  #carouselTrickMedia{
    width: 150% !important;
    left: -25% !important;
  }

  #add-media {
    margin-top: 1.3rem;
  }

}