@import "trick_edit";
@import "card_header";
@import "trick_media";
@import "trick_tags";
@import "comments";

#card-background{
  display: none;
}

#trick-card{
  width: 100%;
  background-color: whitesmoke;

  & .divider{
    margin-bottom: 5%;
  }

  & section{
    padding: 0 5%;
    margin: 50px 0;
  }
}

@include media-breakpoint-up(lg) {
  #card-background{
    width: 100%;
    height: 100vh;
    display: block;
    background: $background-gradient;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    &>img{
      width: 100%;
      height: 50vh;
      object-fit: cover;
      filter: blur(3px);
    }
  }

  #trick-card{
    width: 70%;
    background: whitesmoke;

    & section{
      margin: 5% 0;
    }
  }
}
