/*Vars :Colors*/
$font-stack-title: "Rock Salt", Arial, sans-serif;
$font-stack-text: Raleway, Arial, sans-serif ;
$primary-color: #096279;
$secondary-color: #00d4ff;
$background-color: #e2faff;
$primary-gradient: linear-gradient(112deg, rgba(9,98,121,1) 0%, rgba(9,98,121,1) 48%, rgba(0,212,255,1) 100%);
$contrast-color: #C36609;
$contrast-color-gradient: linear-gradient(90deg, rgba(195,102,9,1) 0%, rgba(195,102,9,1) 60%, rgba(244,204,84,1) 100%);
$dark-primary-color: #013C49;

/*Vars : sizes*/
$mobile-nav-height:50px;
$desktop-nav-height:60px;

/*Mixins*/
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}