/*Vars : colors*/
$primary-gradient: linear-gradient(112deg, rgba(9,98,121,1) 0%, rgba(9,98,121,1) 48%, rgba(0,212,255,1) 100%);
$secondary-gradient: linear-gradient(90deg, rgba(195,102,9,1) 0%, rgba(195,102,9,1) 60%, rgba(244,204,84,1) 100%);
$background-gradient: linear-gradient(315deg, rgba(180,243,255,1) 0%, rgba(224,250,255,1) 25%, rgba(255,255,255,1) 100%);
$dark-primary-color: #013C49;
$ice-blue: #00d4ff;
$background-color: #e2faff;
$flash-error-gradient: linear-gradient(140deg, rgb(255, 0, 0) 0%, rgb(255, 81, 81) 70%, rgb(255, 168, 168) 100%);
$flash-notice-gradient: linear-gradient(140deg, rgb(8, 171, 0) 0%, rgb(15, 205, 1) 70%, rgb(18, 252, 1) 100%);
$flash-warning-gradient: linear-gradient(140deg, rgba(255,121,0,1) 0%, rgba(255,198,0,1) 70%, rgba(255,206,0,1) 100%);



/*Bootstrap override*/
$font-family-sans-serif: Raleway, Arial, sans-serif;
$primary: #096279;
$secondary: #C36609;
$table-dark-bg: $dark-primary-color;

/*Vars : fonts*/
$font-stack-title: "Rock Salt", Arial, sans-serif;

/*Vars : sizes*/
$mobile-nav-height:50px;
$desktop-nav-height:60px;

/*Mixins*/
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}