:root{
  width: 100%;
  font-family: $font-stack-text;
  font-size: 0.8em;
  color: #042d38;
}

body{
  width: 100%;
  margin: 0;
  background-color: $background-color;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;

  & .jxp-avatar-thumbnail {
    width: 30px;
    height: 30px;
  }
}

.menu-item{
  font-size: 1.5rem;
  text-shadow: 1px 1px $dark-primary-color;
  margin: 1px 5px;
  list-style-type: none;
  padding: 0 5px;
}

.menu-item>a{
  text-decoration: none;
  color: white;
}

#main-wrapper{
  margin-bottom: $mobile-nav-height + 50px;
}

h1 {
  font-size: 4.5rem;
  font-family: "Rock Salt", Arial, sans-serif;
}

.hidden{
  display: none!important;
}

#connection-menu{
  background-color: $dark-primary-color;
  position: fixed;
  top: revert;
  bottom: -$mobile-nav-height;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  box-shadow: 0px -5px 10px $dark-primary-color;
  transition: bottom 0.5s ease-out;
  width: 100%;

  &>ul{
    padding: 5px;
  }

  & li{
    list-style: none;
    border-top: 1px solid white;
    padding: 20px 0;

    &:hover{
      background-color: white;
      &>a{
        color: $dark-primary-color;
      }
    }

    &>a{
      color: white;
      text-decoration: none;
      text-shadow: none;
    }
  }
}


@media (orientation:landscape) and (min-width: 576px){
  :root{
    font-size: 1em;
  }

  #main-wrapper{
    margin-top: $desktop-nav-height;
    margin-bottom: 0;
    min-height: 90vh;
  }

  #nav-logo {
    font-family: $font-stack-title;
    color: white;
    margin-left: 5%;
    padding: 10px 0;
    @include transform(rotate(-8deg));
    text-shadow: 1px 1px 1px $dark-primary-color;
  }

  .nav-menu {
    margin-right: 5%;
    padding: 0;

    & .jxp-avatar-thumbnail {
      width: 40px;
      height: 40px;
    }
  }

  .menu-item {
    font-size: 1rem;
  }

  .connection-block{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    border-left: 3px solid white;
    padding-left: 20px;
    align-items: center;
    width: 120px;
  }

  #connection-menu{
    background-color: $dark-primary-color;
    top: -$desktop-nav-height;
    bottom: revert;
    box-shadow: 0 5px 10px $dark-primary-color;
    transition: top 0.5s ease-out;

    & li{
      padding: 5px 0;
    }

    & li:active{
      background-color: white;

      &>a{
        color: $dark-primary-color;
      }
    }

    &>a{
      color: white;
      text-decoration: none;
      text-shadow: none;
    }
  }
}
