.admin-content{
  width: 100%;
  display: grid;
  grid-template-columns: 15fr 70fr 15fr;
  grid-template-rows: auto;
  grid-template-areas:
          "title title title"
          "form form form"
          "pagination pagination pagination";
  place-items: center;
  padding-top: 30px;

  & h1{
    grid-area: title;
    font-size: 1.5rem;
  }

  & form{
    box-sizing: border-box;
    max-width: 100%;
    grid-area: form;
    background-color: white;
    border-radius: 5px;
    box-shadow: 15px 15px 15px $dark-primary-color;
    margin: 20px 0;
    padding: 10px;
    overflow: auto;
  }

  & .table{
    text-align: center;

    & i{
      font-size: 1.2rem;
    }
  }

  & #pagination-nav{
    grid-area: pagination;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    & select{
      width: 80px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
  }

  & .remove-icon>a{
    color: $secondary;
  }
}

@media (orientation:landscape) and (min-width: 576px){
  .admin-content{
    grid-template-areas:
            ". title ."
            ". form ."
            ". pagination .";

    min-height: calc(100vh - #{$desktop-nav-height});

    & #pagination-nav{
      flex-direction: row;
      justify-content: space-around;

      & select{
        margin-right: 20px;
        margin-top: 0;
      }
    }
  }
}