.jxp-avatar-thumbnail {
  width: 30px;
  height: 30px;
}

  .admin-nav{
  position: fixed;
  bottom:0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: $mobile-nav-height;
  background: $contrast-color-gradient;
  box-shadow: 0 -5px 10px $dark-primary-color;
}

@media (orientation:landscape) and (min-width: 576px) {

  .admin-nav {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: $desktop-nav-height;
    box-shadow: 0 5px 10px $dark-primary-color;
  }

  .connection-block{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: white;
  }

  .jxp-avatar-thumbnail {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 auto;
  }
}