.admin-nav{
  position: fixed;
  bottom:0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: $mobile-nav-height;
  background: $contrast-color-gradient;
  box-shadow: 0 -5px 10px $dark-primary-color;
}

@media (orientation:landscape) and (min-width: 576px) {

  .admin-nav {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $desktop-nav-height;
    box-shadow: 0 5px 10px $dark-primary-color;
  }
}