#member-profile{

  & .avatar-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px;
    border: 1px $ice-blue;
    box-shadow: 5px 5px 5px $dark-primary-color;

    &>img{
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      width: inherit;
      height: inherit;
    }
  }

  & #btn-change-pwd{
    width: 40%;
    display: block;
    margin: 0 auto 1.3rem auto;
  }

  & .jxp-group-btn{
    margin: 20px 0;
  }
}

@media (orientation:landscape) and (min-width: 576px) {

  #form-group-avatar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


}