{% extends 'front/layout.html.twig' %}
{% import 'front/macro_trick.html.twig' as displayTrick %}

{% block title %}Snowtricks{% endblock %}

{% block metaDescription %}All you want to know about snowboard tricks{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Tricky Tricks</h1>
        <p class="scroll-arrow"><a href="{{ path('home')~'#trick-list' }}"><i class="fas fa-arrow-circle-down jxp-clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <h3>Tricks</h3>

        <div id="new-trick-wrapper">
            <a id="new-trick" class="btn btn-secondary" href="{{ path('edit-trick',{'trickSlug':'new'}) }}">Create Trick</a>
        </div>

        {% include 'front/_trick_list.html.twig' %}

    </section>

{% endblock %}

{% block footerScripts %}

    {# Encore scripts #}
    {{ parent() }}
    {{ encore_entry_script_tags('home_page') }}

{% endblock %}
