{% extends 'front/layout.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block metaDescription %}Les meilleurs tricks de Snowboard{% endblock %}

{% block mainContent %}

    <!--header-->
    <header id="home-header">

        <h1>Figures de Style</h1>
        <p class="scroll-arrow"><a href="/#trick-list"><i class="fas fa-arrow-circle-down clickable"></i></a></p>

    </header>
    <!--end header-->

    <section id="section-trick">

        <div id="trick-list">
            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

            <div class="trick-card">
                <img class="trick-image" src="/images/ollie.jpg" alt="snowboard trick ollie">
                <div class="trick-text">
                    <p class="trick-name"><a href="/tricks/ollie">Ollie</a></p>
                    <p>
                        <a class="trick-icons" href="/tricks/?edit=ollie"><i class="far fa-edit"></i></a>
                        <a class="trick-icons" href="/tricks/?remove=ollie"><i class="far fa-trash-alt"></i></a>
                    </p>
                </div>
            </div>

        </div>

        <a class="btn-load">Plus   </a>

    </section>

{% endblock %}
