{% extends 'front/layout.html.twig' %}

{% block title %}Member Profile{% endblock %}

{% block mainContent %}
    <div id="user-profile">
        <h1>Profile</h1>

        {{ form_start(formProfile) }}
        <div class="avatar-container">
            <img src="{{ asset('media/avatars/'~getAvatarFilename(user.avatar)) }}" alt="avatar picture">
        </div>

        {{ form_widget(formProfile) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>

        {{ form_end(formProfile) }}


    </div>
{% endblock %}