<!--Sub menu connection-->
<div id="connection-menu" class="hidden">
    <ul>
        <li><a href="/member/profile-{{ app.user.username }}">Profile</a></li>
        <li><a href="/auth/logout">Disconnect</a></li>
    </ul>
</div>
<!--end Sub menu connection-->