<li class="nav-item dropdown">
    <div class="connection-block dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="jxp-avatar-thumbnail">
            <img src="/media/{{ getAvatarFilename(app.user.avatar) }}" alt="avatar">
        </div>
        <p>{{ app.user.username }}</p>
    </div>

    {% include '_connected_submenu.html.twig' %}

</li>