<li class="menu-item">
    <div class="connection-block">
        <div class="jxp-avatar-thumbnail">
            <img src="/media/{{ getAvatarFilename(app.user.avatar) }}" alt="avatar">
        </div>
        <p>{{ app.user.username }}</p>
    </div>
</li>