<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {# Encore links #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block headerScripts %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}

{% block footerScripts %}

    {# Encore JS #}
    {{ encore_entry_script_tags('app') }}

{% endblock %}

</body>
</html>