<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {# Encore links #}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block headerScripts %}{% endblock %}
</head>

<body>

{# read and display all flash messages #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}

{% block footerScripts %}

    {# Encore JS #}
    {{ encore_entry_script_tags('app') }}

{% endblock %}

</body>
</html>