{% extends 'auth/layout.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block formH1 %}Forgot Password{% endblock %}

{% block formContent %}

    {{ form_start(forgotForm) }}
    {{ form_widget(forgotForm) }}

    <div class="jxp-group-btn">
        <button class="btn btn-primary">Send reset mail</button>
        <button class="btn btn-dark">Cancel</button>
    </div>

    {{ form_end(forgotForm) }}

{% endblock %}