{% extends 'auth/layout.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block formH1 %}Forgot Password{% endblock %}

{% block formContent %}

    <div class="jxp-form-field-block">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" class="jxp-form-input" required>
    </div>

    <div class="jxp-form-field-block">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="jxp-form-input" required>
    </div>

    <div class="jxp-group-btn">
        <button class="jxp-btn-contrast">Reset password</button>
        <button class="jxp-btn-primary">Cancel</button>
    </div>

{% endblock %}