{% extends 'front/layout.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block mainContent %}

    <div class="form-card">
        <h1>Forgot Password</h1>

        {{ form_start(forgotForm) }}
        {{ form_widget(forgotForm) }}

        <div class="jxp-group-btn">
            <button class="btn btn-primary">Send reset mail</button>
            <a class="btn btn-dark" href="{{ path('home') }}">Cancel</a>
        </div>

        {{ form_end(forgotForm) }}

    </div>

{% endblock %}