{% extends 'front/layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block mainContent %}

    <div class="form-card">
        <h1>Reset Password</h1>

        {{ form_start(resetForm) }}
        {{ form_widget(resetForm) }}

        <div class="jxp-group-btn">
            <button class="btn btn-primary">Reset password</button>
            <button class="btn btn-dark">Cancel</button>
        </div>

        {{ form_end(resetForm) }}

    </div>

{% endblock %}