{% extends 'auth/layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block formH1 %}Reset Password{% endblock %}

{% block formContent %}

    {{ form_start(resetForm) }}
    {{ form_widget(resetForm) }}

    <div class="jxp-group-btn">
        <button class="btn btn-primary">Reset password</button>
        <button class="btn btn-dark">Cancel</button>
    </div>

    {{ form_end(resetForm) }}

{% endblock %}