{% extends 'auth/layout.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block formH1 %}Reset Password{% endblock %}

{% block formContent %}

    <div class="jxp-form-section">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="jxp-form-input">
    </div>

    <div class="jxp-form-section">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" class="jxp-form-input" autocomplete="new-password"
               required>
    </div>

    <div class="jxp-form-section">
        <label for="password-check">Check Password</label>
        <input id="password-check" type="password" name="password-check" class="jxp-form-input"
               autocomplete="new-password" required>
    </div>

    <div class="jxp-group-btn">
        <button class="jxp-btn-contrast">Reset password</button>
        <button class="jxp-btn-primary">Cancel</button>
    </div>

{% endblock %}